<main class="falloufit">
  <h1 class="fallouTitre">Fit Track Pro</h1>

  <form class="fallouform" (ngSubmit)="fallouAjouterActivite()">
    <div class="fallouinput">
      <label class="falloulabel" for="fallouNomActivite">Nom</label>
      <input
       class="inputfallou"
        id="fallouNomActivite"
        name="fallouNomActivite"
        type="text"
        [ngModel]="fallouNomActivite()"
        (ngModelChange)="fallouMettreNomActivite($event)"
      />
    </div>

    <div>
      
      <label  class="falloulabel">Type</label>
      <select
      class="inputfallou"
        id="fallouTypeActivite"
        name="fallouTypeActivite"
        [ngModel]="fallouTypeActivite()"
        (ngModelChange)="fallouMettreTypeActivite($event)"
      >
        <option value="SPORT">SPORT</option>
        <option value="HYDRATATION">HYDRATATION</option>
      </select>
    </div>

    <div>
      <label for="fallouValeurActivite">Valeur</label>
      <input
        id="fallouValeurActivite"
        name="fallouValeurActivite"
        type="number"
        [ngModel]="fallouValeurActivite()"
        (ngModelChange)="fallouMettreValeurActivite($event)"
      />
    </div>

    <button type="submit">Ajouter</button>
  </form>

  <section>
    <h2>Indicateurs</h2>
    <p>Calories brûlées: {{ fallouTotalCalories() }}</p>
    <p>Eau consommée: {{ fallouTotalEau() }} ml</p>
    <p>Bilan calorique restant: {{ fallouCaloriesRestantes() }}</p>

    @if (fallouMessageSante()) {
      <p>{{ fallouMessageSante() }}</p>
    } @else {
      <p></p>
    }
  </section>

  <section>
    <h2>Journal du jour</h2>

    
      <ul>
        @for (fallouActivite of fallouActivites(); track fallouActivite.id) {
          <li>
            {{ fallouActivite.dateCreation | date: 'h:m:s' }} -
            [{{ fallouActivite.type }}] {{ fallouActivite.nom }} : {{ fallouActivite.valeur }}
            @if (fallouActivite.type === 'SPORT') {
              calories
            } @else {
              ml
            }
          </li>
        }
      </ul>
  
  </section>
</main>
